<div id="navbar-container">
  <div class="container" style="display:flex; justify-content:space-between; align-items:center;">
    <div class="logo">GCL</div>
    <div class="links">

      <div class="link">
        <span class="link-text">Home</span>
        <span class="link-line"></span>
      </div>

      <div class="link">
        <span class="link-text">FAQs</span>
        <span class="link-line"></span>
      </div>

      <div class="link">
        <span class="link-text">Download</span>
        <span class="link-line"></span>
      </div>

    </div>
  </div>
</div>