<div id="banner">
  <div class="container">
    <span class="t-1">MOST EXCITING MULTIPLAYER CRICKET GAME</span>
    <h1 class="t-b">GODSPEED</h1>
    <h2 class="t-b">CRICKET LEAGUE</h2>
    <button id="play-button">PLAY FREE NOW</button>

    <div id="features-box">
      <div class="feature">
        <img src="/assets/1.svg" alt="" class="feature-img">
        <span class="feature-text">INTERACTIVE REPLAY</span>
      </div>
      <div class="feature">
        <img src="/assets/2.svg" alt="" class="feature-img">
        <span class="feature-text">DECISION REVIEW SYSTEM</span>
      </div>
      <div class="feature">
        <img src="/assets/3.svg" alt="" class="feature-img">
        <span class="feature-text">DETAILED STATS</span>
      </div>
      <div class="feature">
        <img src="/assets/4.svg" alt="" class="feature-img">
        <span class="feature-text">NEW STADIUMS</span>
      </div>
      <div class="feature">
        <img src="/assets/5.svg" alt="" class="feature-img">
        <span class="feature-text">PASSIVE MULTIPLAYER</span>
      </div>
    </div>

  </div>
</div>