.section-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

#match-banner{
    height: 400px;
    background-image: url('/assets/squarwaliImage.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 30px;
}